.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.pages {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.leaflet-map {
  height: 480px;
  width: 720px;
  position: relative;
}

.nav {
  height: 44px;
  background-color: blanchedalmond;
}

.avatar {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
  margin: 4px;
}
