:host {
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;         
    background: #dddd;
    border: 0 solid #fff;
  }
  
:host.is-open {
    display: block;
}
