.map {
  height: 100%;
  width: 100%;
  padding: 0;
}

.leaflet-popup-content {
  width: 180px;
  margin: 0 !important;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  padding: 0px !important;
  border-radius: unset !important;
  background: hsla(0, 0%, 100%, .5) !important;
}

.page-content {
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff40;
}

.page-content>.content {
  height: 80%;
  width: 60%;
  background: #fff;
  box-shadow: 0 10px 42px rgba(0,0,0,0.4);
}


/* basic style */
.close {
  /* still bad on picking color */
  background: orange;
  color: red;
  /* make a round button */
  border-radius: 12px;
  /* center text */
  line-height: 20px;
  text-align: center;
  height: 20px;
  width: 20px;
  font-size: 18px;
  padding: 1px;
}
/* use cross as close button */
.close::before {
  content: "\2716";
}
/* place the button on top-right */
.close {
  top: -10px;
  right: -10px;
  position: absolute;
}
