.map {
  height: 100%;
  width: 100%;
  padding: 0;
}

.leaflet-popup-content {
  width: 180px;
  margin: 0 !important;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  padding: 0px !important;
  border-radius: unset !important;
  background: hsla(0, 0%, 100%, .5) !important;
}

.page-content {
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff40;
}

.page-content>.content {
  height: 80%;
  width: 60%;
  background: #fff;
  box-shadow: 0 10px 42px rgba(0,0,0,0.4);
}

.side-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
}

.is-open {
  height: 100%;
  width: 20%;
}

.nav {
  height: 44px;
}
