<div class="map" 
     leaflet 
     [leafletOptions]="options" 
     [leafletLayersControl]="layersControl"
     [leafletLayersControlOptions]="layersControlOptions"
     [leafletFitBounds]="fitBounds" 
     (leafletMapReady)="onMapReady($event)">
  <ng-component *ngFor="let l of pages$ | async" [pageMarker]="l"></ng-component>
</div>
<div class="page-content" *ngIf="selectedPage$ | async" (click)="onCloseClick()">
  <div class="content" (click)="onContentClick($event)">
    <app-page-content [page]="selectedPage$ | async"></app-page-content>
  </div>
</div>
